* { font-family: Helvetica;  color: black; font-size: 24px; }
.finished { color: DimGrey; font-size: 80%; }
.plotline { color: red; font-size: 150%; }
.prevPlot { color: blue; }
.nextPlot { color: blue }
.rough { color: green; }
.chapterHeading { text-decoration: underline; }
.expand { color:blue; font-style: oblique; background-color: yellow; }
.pic { color: magenta }
.page { margin: 10px 20px; }
.spell { color: brown; }
.book { color: olive; }
.place { color: purple; }
p.intro:first-letter { font-family: Georgia; font-size: 130% }
