* { font-family: Helvetica;  color: black; }
.finished { color: DimGrey; font-size: 80%; }
.plotline { color: red; font-size: 150%; }
.prevPlot { color: blue; }
.nextPlot { color: blue }
.rough { color: green; }
p.intro:first-letter { font-size: 200% }
